<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
</head>
<body class = "bg-dark font-serif">
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-lg-5">
            <a class="navbar-brand fw-semibold fs-1" href="/">Tarot Paws</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item" th:if="${session.user == null}">
                        <!-- <a class="nav-link" href="login">Login</a> -->
                        <button class="nav-link btn btn-link" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
                    </li>
                    <li class="nav-item" th:if="${session.user != null}">
                        <button class="nav-link btn btn-link" data-bs-toggle="modal" data-bs-target="#signoutModal">Sign out</button>
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="#!">Contact</a> -->
                        <form th:action="@{/search}" method="GET">
                            <input type="text" name="name" placeholder="Enter card name">
                            <button type="submit">Search</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div th:if="${alert}" class="alert alert-warning text-center" role="alert">
        <span th:text="${alert}"></span>
    </div>

    <div class="modal fade text-black" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/login}" th:object="${user}" method="POST">
                        <div data-th-if="${#fields.hasGlobalErrors()}">
                            <p data-th-each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="col-form-label">Username:</label>
                            <input type="text" class="form-control" id="username" name="username" th:field="*{username}">
                            <label data-th-if="${#fields.hasErrors('username')}" data-th-errors="*{username}"></label>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="col-form-label">Password:</label>
                            <input type="password" class="form-control" id="password" th:field="*{password}">
                            <label data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}">Wrong password</label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade text-black" id="signoutModal" tabindex="-1" aria-labelledby="signoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signoutModalLabel">Sign out</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/signout}" method="POST">
                        <div>Are you sure?</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Yes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-dark text-left">
                <div class="row gx-lg-1">
                    <div class="col-lg-6 col-xxl-2 mb-1 mt-1">
                        <div class="card bg-dark border-0 h-100">
                            <img th:src="@{/introbg.png}" alt="image of cats">
                        </div>                   
                    </div> 
                    <div class="col-lg-6 col-xxl-10 mb-1 mt-1">
                        <div class="card bg-dark border-0 h-100">
                            <div class="m-5 m-lg-4 text-white">
                                <h2 th:if="${session.user != null}">Welcome, <span th:text="${user.username}">User</span>!</h2>
                                <h1 class="display-5 fw-normal">Let Us Whisker You Into Your Fortune</h1>
                                <p class="fs-4 fw-light">Purrceptive feline-guided tarot readings that unravel mystical paths with a meow of insight</p>
                            </div>
                        </div>                   
                    </div>                    
                </div>                
            </div>
        </div>
    </header>

    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="row gx-lg-5">
                <div class="col-lg-3 col-xxl-4 mb-5">
                    <div class="card bg-white border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                            <h2 class="fs-4 fw-bold fst-italic">The Three Card Spread</h2>
                            <p class="mb-1">Get Your Paws on a Mystic Tarot Reading</p>
                            <a class="fs-6 font-sans-serif fw-lighter" th:href="@{/threecards}">WHISKER AWAY</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xxl-4 mb-5">
                    <div class="card bg-white border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                            <h2 class="fs-4 fw-bold fst-italic">Deck-iphering Tarot Cards</h2>
                            <p class="mb-1">All Tarot Card Meanings Unveiled</p>
                            <a class="fs-6 font-sans-serif fw-lighter" th:href="@{/allcardsmeaning}">SHOW MEOW</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xxl-4 mb-5">
                    <div class="card bg-white border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div>
                            <h2 class="fs-4 fw-bold fst-italic">Favourites</h2>
                            <p class="mb-0">Favourited Cards for Account Holders</p>
                            <a class="fs-6 font-sans-serif fw-lighter" th:href="@{/favourite}">PURRR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    
</body>

</html>